.blackout {position: fixed; bottom: 0; left: 0; top: 0; right: 0; background-color: rgba(128,128,128,0.5);}
.modal {margin: 40px auto; padding: 25px; width: 350px; background-color: #ffffff; overflow: auto; border: 2px solid black; border-radius: 5px;}
.modal__title {font-size: 28px; display: block; width: 320px; margin-bottom: 25px; float: left; cursor: default;}
.modal__btn-close {width: 12px; height: 12px; float: right; background: url(close.png) 0% 50%;}
.modal__btn-close:hover {background: url(close.png) 100% 50%;}
.field {border: 2px solid black; width: 100%; height: 30px; margin: 3px 0 25px 0; font-size: 14px; font-family: arial;}
.field_title {float: left; cursor: default; font-size: 14px;}
.field_select {float: left; width: 180px; margin: 3px 150px 25px 0; border: 2px solid black; border-radius: 3px; font-size: 14px; cursor: pointer;}
.modal-submit {width: 100px; line-height: 16px; background-color: #e6e6e6; border: 2px solid black; border-radius: 3px; cursor: pointer;}
.modal-submit:hover {background: #d6d6d6;}